In [16]:
person = {
    "first": "Gonzalo",
    "last": "Rivero Baud",
    "email": "burrito@gmail.com"
}

In [17]:
people = {
    "first": ["Gonzalo", "Jane", "Joe"],
    "last": ["Rivero Baud", "Doe", "Doe"],
    "email": ["burrito@gmail.com", 'janedoe@email.com', "johndoe@email.com"]
}

In [18]:
people["email"]

['burrito@gmail.com', 'janedoe@email.com', 'johndoe@email.com']

In [19]:
import pandas as pd

In [20]:
df = pd.DataFrame(people)

In [21]:
df

     first         last              email
0  Gonzalo  Rivero Baud  burrito@gmail.com
1     Jane          Doe  janedoe@email.com
2      Joe          Doe  johndoe@email.com

In [22]:
df["email"]

0    burrito@gmail.com
1    janedoe@email.com
2    johndoe@email.com
Name: email, dtype: object

In [23]:
type(df['email'])

pandas.core.series.Series

In [24]:
df[['last', 'email']]

          last              email
0  Rivero Baud  burrito@gmail.com
1          Doe  janedoe@email.com
2          Doe  johndoe@email.com

In [25]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [26]:
df.iloc[0] #integerlocation

first              Gonzalo
last           Rivero Baud
email    burrito@gmail.com
Name: 0, dtype: object

In [27]:
df.iloc[[0,1]]

     first         last              email
0  Gonzalo  Rivero Baud  burrito@gmail.com
1     Jane          Doe  janedoe@email.com

In [28]:
df.iloc[[0,1], 2]

0    burrito@gmail.com
1    janedoe@email.com
Name: email, dtype: object

In [29]:
df.loc[[0,1], ['email', 'first']] #labellocation (indexes with label)

               email    first
0  burrito@gmail.com  Gonzalo
1  janedoe@email.com     Jane