In [2]:
person = {
    "first": "Gonzalo",
    "last": "Rivero Baud",
    "email": "riverobaug@gmail.com"
}

In [3]:
people = {
    "first": ["Gonzalo", "Jane", "Joe"],
    "last": ["Rivero Baud", "Doe", "Doe"],
    "email": ["riverobaug@gmail.com", 'janedoe@email.com', "johndoe@email.com"]
}

In [5]:
people["email"]

['riverobaug@gmail.com', 'janedoe@email.com', 'johndoe@email.com']

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(people)

In [8]:
df

     first         last                 email
0  Gonzalo  Rivero Baud  riverobaug@gmail.com
1     Jane          Doe     janedoe@email.com
2      Joe          Doe     johndoe@email.com

In [9]:
df["email"]

0    riverobaug@gmail.com
1       janedoe@email.com
2       johndoe@email.com
Name: email, dtype: object

In [10]:
type(df['email'])

pandas.core.series.Series

In [13]:
df[['last', 'email']]

          last                 email
0  Rivero Baud  riverobaug@gmail.com
1          Doe     janedoe@email.com
2          Doe     johndoe@email.com

In [14]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [15]:
df.iloc[0] #integerlocation

first                 Gonzalo
last              Rivero Baud
email    riverobaug@gmail.com
Name: 0, dtype: object

In [16]:
df.iloc[[0,1]]

     first         last                 email
0  Gonzalo  Rivero Baud  riverobaug@gmail.com
1     Jane          Doe     janedoe@email.com

In [17]:
df.iloc[[0,1], 2]

0    riverobaug@gmail.com
1       janedoe@email.com
Name: email, dtype: object

In [22]:
df.loc[[0,1], ['email', 'first']] #labellocation (indexes with label)

                  email    first
0  riverobaug@gmail.com  Gonzalo
1     janedoe@email.com     Jane